// src/styles/foundation/_base.scss

@use "./function" as *;
@use "./variable" as *;

@layer base {
  html {
    font-size: 16px;
    scroll-behavior: auto;
  }

  body {
    position: relative;
    overflow-x: hidden;
    font-family: $font-ja;
    font-weight: 400;
    line-height: 1.8;
    color: $color-text;
    letter-spacing: 0.05em;
    background-color: $color-bg;

    &::before {
      position: fixed;
      top: 0;
      left: 0;
      z-index: 9999;
      width: 100%;
      height: 100%;
      pointer-events: none;
      content: "";
      background-image: url("@/assets/images/noise.svg");
      opacity: 0.4;
    }
  }
}
