// src/styles/foundation/_mixin.scss

@use "sass:map";
@use "./variable" as *;

@mixin mq($breakpoint) {
  $query: map.get($breakpoints, $breakpoint);

  @if $query {
    @media #{$query} {
      @content;
    }
  } @else {
    @warn "No value found for breakpoint `#{$breakpoint}`";
  }
}

@mixin hover() {
  @media (hover: hover) {
    &:hover {
      @content;
    }
  }

  &:focus-visible {
    @content;
  }
}
